@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(31, 31, 31);
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: white;
  text-align: center;
}

form {
  max-width: 30rem;
  margin: 3rem auto;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 6px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  margin-bottom: 1rem;
}

button {
  display: block;
  font: inherit;
  background-color: rgb(36, 36, 36);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
}

#row-input-container {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input,
textarea {
  display: block;
  font: inherit;
  padding: 0.25rem;
}

textarea {
  resize: none;
  overflow: hidden;
  margin: auto;
  border: 0;
}